body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
section{
    display:flex;
}
.half-width{
    width: 50%
}
span img{
    width: 90%;
}
.hiring{
    text-decoration: none;
    background-color: blue;
    padding: 10px 40px;
    background-image: linear-gradient(blue , black);
    font-weight: bolder;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width2{
    width: 50%;
}
strong{
    text-decoration: none;
    background-color: blue;
    padding: 10px 40px;
    background-image: linear-gradient(blue , black);
    font-weight: bolder;
}
.dream-b{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.flexible-container{
    display:flex;
}
.box-shadow{
    box-shadow:gray 10px 10px 40px ;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-left: 5px orange solid;  
}
.export{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-devlop{
    border-image: linear-gradient(blue , red);
    border-left: 7px solid;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}

